﻿@using Gallery.Web.Properties
@using JpegMetadata.Library
@model Gallery.DataLevel.Orm.PictureGallery

@{
   ViewBag.Title = Resources.EditPictureTitle;
   Tuple<int, int> oldDimensions = Tuple.Create(Model.Width, Model.Height);
   int fitWidth = 150;
   Tuple<int, int> resampleDimensions = ImageProcessorUtils.ResampleDimensions(oldDimensions, fitWidth);
}

<h2>@ViewBag.Title @Model.PictureDescription</h2>

@using (Html.BeginForm("Edit", "Picture", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   @Html.EditorForModel()

   <div class="editor-label">@Resources.PictureTitle</div>
   <div class="editor-field">
      @if (Model.PictureData == null)
      {
         <img width="150" height="150" src="~/Images/nophoto.png" alt="@Resources.NoPicture" />
      }
      else
      {
         <img width="@resampleDimensions.Item1" height="@resampleDimensions.Item2"
              src="@Url.Action("GetImage", "Picture", new { pictureId = Model.PictureId })"
              alt="@Model.PictureDescription"
            />
      }
      <div>
         @Resources.UploadNewPicture:
         <input type="file" name="imageFile" />
      </div>
   </div>
   
   <input type="submit" value="@Resources.Save" />
   @Html.ActionLink(Resources.CancelAndBackToList, "List")
}