﻿body {
    font-family: Arial;
}

li.edit {
    background-color: #999999;
}

table.postTable {
    border-collapse: collapse;
}

    table.postTable td {
        margin: 10px;
        padding: 5px;
        text-align: left;
        vertical-align: top;
    }

        table.postTable td:nth-child(2) {
            -ms-border-radius: 0 12px 12px 12px;
            background: #f1f5f8;
            border: 1px solid lightgrey;
            border-collapse: separate;
            border-radius: 0 12px 12px 12px;
            border-spacing: 15px;
            color: black;
            display: inline-block;
            font-family: Courier New, monospace !important;
            font-size: 10pt;
        }

.error {
    color: red;
    margin: 10px;
    text-align: center;
}

.nav {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.insert {
    font-size: 1.2em;
}

.item-template {
    color: #333333;
}

.layout-template {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    list-style: none;
    list-style-type: none;
    vertical-align: top;
}

.layout-template-pager {
    background-color: #5D7B9D;
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

.item-separator {
    border: solid;
    color: black;
    background: black;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 3px;
}

.actionButtons {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    background-color: #d3d3d3;
    border: 1px solid #2a2c2f;
    color: #FFFFFF;
    display: inline-block;
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    -ms-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom, #d3d3d3, #000000);
}

    .actionButtons:hover {
        background-color: #000000;
        border: 1px solid #151617;
        cursor: pointer;
        background-image: linear-gradient(to bottom, #000000, #d3d3d3);
    }

.pager {
    font-size: 1.0em;
}
