﻿@using Gallery.Web.Properties
@model Gallery.Web.Models.LocalPasswordModel

<h3>@Resources.ChangePasswordTitle</h3>

@using (Html.BeginForm("Manage", "Account"))
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary()

   <fieldset>
      <legend>@Resources.ChangePasswordForm</legend>
      <ol>
         <li>
            @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword)
         </li>
         <li>
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
         </li>
         <li>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
         </li>
      </ol>
      <input type="submit" value="@Resources.ChangePasswordTitle" />
   </fieldset>
}
