﻿@using Gallery.Web.Properties
@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
   <div class="message-info">
      <p>
         @Resources.ExternalServicesStatus.
      </p>
   </div>
}
else
{
   using (Html.BeginForm("ExternalLogin", "Account", new { ViewBag.ReturnUrl }))
   {
   @Html.AntiForgeryToken()
   <fieldset id="socialLoginList">
      <legend>@Resources.LoginOtherService</legend>
      <p>
         @foreach (var clientData in Model)
         {
            <button type="submit" name="provider"
                       value="@clientData.AuthenticationClient.ProviderName"
                       title="@Resources.LoginUsingOwnAccount @clientData.DisplayName">
               @clientData.DisplayName
            </button>
         }
      </p>
   </fieldset>
   }
}
