﻿@using Gallery.Web.Properties
@model ICollection<Gallery.Web.Models.ExternalLogin>

@{
   Func<string, string> delExtLogFunc = s => string.Format(Resources.DeleteThisExternalAccounts, s);
}

@if (Model.Count > 0)
{
   <h3>@Resources.RegisteredExternalAccounts</h3>
   <table>
      <tbody>
         @foreach (var externalLogin in Model)
         {
            <tr>
               <td>@externalLogin.ProviderDisplayName</td>
               <td>
                  @if (ViewBag.ShowRemoveButton)
                  {
                     using (Html.BeginForm("Disassociate", "Account"))
                     {
                     @Html.AntiForgeryToken()
                     <div>
                        @Html.Hidden("provider", externalLogin.Provider)
                        @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                        <input type="submit" value="@Resources.DeleteActionString"
                              title="@delExtLogFunc(@externalLogin.ProviderDisplayName)" />
                     </div>
                     }
                  }
                  else
                  {
                     @: &nbsp;
                  }
               </td>
            </tr>
         }
      </tbody>
   </table>
}
