﻿@using Gallery.Web.Properties
@model Gallery.Web.Models.LocalPasswordModel

<p>
   @Resources.MissingLocalPassword
</p>

@using (Html.BeginForm("Manage", "Account"))
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary()

   <fieldset>
      <legend>@Resources.SetPasswordForm</legend>
      <ol>
         <li>
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
         </li>
         <li>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
         </li>
      </ol>
      <input type="submit" value="@Resources.SetPasswordSubmit" />
   </fieldset>
}
