﻿@using Gallery.Web.Properties
@model Gallery.Web.Models.RegisterExternalLoginModel

@{
   ViewBag.Title = Resources.RegisterTitle;
   Func<string, string> youDoneCheckingFunc = s => string.Format(Resources.YouDoneCheckingFormatMessage, s);
}

<hgroup class="title">
   <h1>@ViewBag.Title.</h1>
   <h2>@Resources.BindYourAccountMessage @ViewBag.ProviderDisplayName.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ViewBag.ReturnUrl }))
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary(true)

   <fieldset>
      <legend>@Resources.BindingFormLegend</legend>
      <p>
         @youDoneCheckingFunc(@ViewBag.ProviderDisplayName)
      </p>
      <ol>
         <li class="name">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
         </li>
      </ol>
      @Html.HiddenFor(m => m.ExternalLoginData)
      <input type="submit" value="@ViewBag.Title" />
   </fieldset>
}

@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
}
