﻿@using Gallery.Web.Properties
@model Gallery.Web.Models.LoginModel

@{
   ViewBag.Title = Resources.EnterYourself;
}

<hgroup class="title">
   <h1>@ViewBag.Title</h1>
</hgroup>

<section id="loginForm">
   @using (Html.BeginForm(new { ViewBag.ReturnUrl }))
   {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary(true)

      <fieldset>
         <legend>@Resources.LoginForm</legend>
         <ol>
            <li>
               @Html.LabelFor(m => m.UserName)
               @Html.TextBoxFor(m => m.UserName)
               @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
               @Html.LabelFor(m => m.Password)
               @Html.PasswordFor(m => m.Password)
               @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
               @Html.CheckBoxFor(m => m.RememberMe)
               @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
         </ol>
         <input type="submit" value="@ViewBag.Title" />
      </fieldset>
      <p>
         @Html.ActionLink(Resources.RegisterYourself, "Register"), @Resources.IfYouDontHaveAccountMessage.
      </p>
   }
</section>

<section id="socialLoginForm">
</section>

@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
}
