﻿@using Gallery.Web.Properties
@model Gallery.Web.Models.RegisterModel

@{
   ViewBag.Title = Resources.RegisterTitle;
}

<hgroup class="title">
   <h1>@ViewBag.Title.</h1>
   <h2>@Resources.CreateNewAccount</h2>
</hgroup>

@using (Html.BeginForm())
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary()

   <fieldset>
      <legend>@Resources.RegisterFormLegend</legend>
      <ol>
         <li>
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
         </li>
         <li>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
         </li>
         <li>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
         </li>
         <li>
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
         </li>
         <li>
            @Html.LabelFor(m => m.PatronymicName)
            @Html.TextBoxFor(m => m.PatronymicName)
         </li>
         <li>
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
         </li>
      </ol>
      <input type="submit" value="@ViewBag.Title" />
   </fieldset>
}

@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
}
