﻿@using Gallery.Web.Properties
<!DOCTYPE html>
<html lang="ru">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta charset="utf-8" />
   <title>@ViewBag.Title</title>
   <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
   <meta name="viewport" content="width=device-width" />
   @Styles.Render("~/Content/css")
   @Scripts.Render("~/bundles/modernizr")
   @RenderSection("headercontent", false)
    <meta name="description" content="The description of my page" />
</head>
<body>
   <header>
      <div class="content-wrapper">
         <div class="float-left">
            <h2>@Resources.MainTitle: </h2>
            @if (TempData["message"] != null)
            {
               <div class="TempMessage">@TempData["message"]</div>
            }
         </div>
         <div class="float-right">
            <section id="login">
               @Html.Partial("_LoginPartial")
            </section>
            <nav>
               <ul id="menu">                  
                  <li>@Html.ActionLink(Resources.GalleryLinkText, "List", "Picture")</li>
               </ul>
            </nav>
         </div>
      </div>
   </header>
   <div id="body">
      @RenderSection("featured", false)
      <section class="content-wrapper main-content clear-fix">
         @RenderBody()
      </section>
      @RenderSection("paging", false)
   </div>
   <footer>
      <div class="content-wrapper">
         <div class="float-left">
            <p>&copy; @DateTime.Now.Year — @Resources.MainTitle </p>
         </div>
      </div>
   </footer>

   @Scripts.Render("~/bundles/jquery")
   @RenderSection("scripts", false)
</body>
</html>
