﻿html{}

/* Размеры */
@commonBorderRadius: 7px;
@commonMarginBottom: 10px;

div {
    margin-bottom: @commonMarginBottom;
}

.text-center {
    text-align: center;
}

.panel {
    background-color: #f7f7f9 !important;
    border: 1px solid #e1e1e8;
    -ms-border-radius: @commonBorderRadius;
    -moz-border-radius: @commonBorderRadius;
    -webkit-border-radius: @commonBorderRadius;
    border-radius: @commonBorderRadius;
    margin-bottom: 14px;
    padding: 9px 14px;
}
/* --------------- Подсвеченные фрагменты -------------- */
.highlight-fragment {
    text-decoration: none;
}

    .highlight-fragment:hover {
        background: aquamarine;
        color: red;
        cursor: pointer;
        font-weight: bolder;
        opacity: 0.7;
    }
