/* Размеры */
div {
  margin-bottom: 10px;
}
.text-center {
  text-align: center;
}
.panel {
  background-color: #f7f7f9 !important;
  border: 1px solid #e1e1e8;
  -ms-border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin-bottom: 14px;
  padding: 9px 14px;
}
/* --------------- Подсвеченные фрагменты -------------- */
.highlight-fragment {
  text-decoration: none;
}
.highlight-fragment:hover {
  background: aquamarine;
  color: red;
  cursor: pointer;
  font-weight: bolder;
  opacity: 0.7;
}
