div {
  margin-bottom: 5px;
}
.text-center {
  text-align: center;
}
.panel {
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
  font-weight: normal;
  font-size: 10px;
  background-color: #f7f7f9 !important;
  color: #000000;
  border: 1px solid #e1e1e8;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 3px;
  padding: 3px;
}
#codeFragment {
  color: whitesmoke;
  white-space: pre-wrap;
  font-size: smaller;
  font-weight: lighter;
}
/* --------------- Подсвеченные фрагменты -------------- */
.highlight-fragment {
  text-decoration: none;
}
.highlight-fragment :hover {
  background: aquamarine;
  color: red;
  cursor: pointer;
  font-weight: bolder;
  opacity: 0.7;
}
