﻿html {
}

@commonBorderRadius: 3px;
@commonMarginBottom: 5px;
@panel-back-color: #f7f7f9;
@panel-border-color: #e1e1e8;
@panel-font-color: black;

.border-radius-mixin() {
    -ms-border-radius: @commonBorderRadius;
    -moz-border-radius: @commonBorderRadius;
    -webkit-border-radius: @commonBorderRadius;
    border-radius: @commonBorderRadius;
}

div {
    margin-bottom: @commonMarginBottom;
}

.text-center {
    text-align: center;
}

.panel {
    font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
    font-weight: normal;
    font-size: 10px;
    background-color: @panel-back-color !important;
    color: @panel-font-color;
    border: 1px solid @panel-border-color;
    .border-radius-mixin();
    margin-bottom: 3px;
    padding: 3px;
}

#codeFragment {
    color: whitesmoke;
    white-space: pre-wrap;
    font-size: smaller;
    font-weight: lighter;
}

/* --------------- Подсвеченные фрагменты -------------- */
.highlight-fragment {
    text-decoration: none;

    :hover {
        background: aquamarine;
        color: red;
        cursor: pointer;
        font-weight: bolder;
        opacity: 0.7;
    }
}
