﻿body {
    .loading{
        overflow: hidden;
        .modal{
            display: block;
        }
    }
}

.modal {
    background: #ffffff url('Content/images/ajax-loader2.gif') 50% 50% no-repeat;
    background: rgba(255, 255, 255, .8) url('Content/images/ajax-loader2.gif') 50% 50% no-repeat;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
