﻿body {
    font-family: Arial;
}

h1.title {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}

.adminContent {
    border: solid thin black;
    margin: 20px 0;
    padding: 5px;
}

.error {
    color: red;
    margin: 10px;
    text-align: center;
}

.loginContainer {
    padding: 10px;
    text-align: center;
}

    .loginContainer label {
        display: inline-block;
        margin: 5px;
        width: 120px;
    }

    .loginContainer input {
        margin: 5px;
        width: 150px;
    }

    .loginContainer button {
        margin-top: 10px;
    }

.actionButtons {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    background-color: #d3d3d3;
    border: 1px solid #2a2c2f;
    color: #FFFFFF;
    display: inline-block;
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    -ms-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom, #d3d3d3, #000000);
}

    .actionButtons:hover {
        background-color: #000000;
        border: 1px solid #151617;
        cursor: pointer;
        background-image: linear-gradient(to bottom, #000000, #d3d3d3);
    }

.adminTable {
    border-collapse: collapse;
}

    .adminTable td {
        vertical-align: top;
        text-align: left;
        padding: 5px;
        margin: 10px;
    }

        .adminTable td:nth-child(2) {
            -ms-border-radius: 0 12px 12px 12px;
            background: #f1f5f8;
            border: 1px solid lightgrey;
            border-collapse: separate;
            border-radius: 0 12px 12px 12px;
            border-spacing: 15px;
            color: black;
            display: inline-block;
            font-family: Courier New, monospace !important;
            font-size: 10pt;
        }

.insertTable {
    border-collapse: collapse;
}

    .insertTable td {
        vertical-align: top;
    }

.edit {
    background-color: #999999;
}

.insert {
    font-size: 1.2em;
}

.item-template {
    color: #333333;
}

.layout-template {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    list-style-type: disc;
    vertical-align: top;
    list-style: none;
}

.layout-template-pager {
    text-align: center;
    background-color: #5D7B9D;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

.item-separator {
    border: solid;
    color: black;
    background: black;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 3px;
}

.nav {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.error-list {
    list-style-type: disc;
}

.pager {
    font-size: 1.0em;
}