﻿/*------------------------------------Общая разметка страницы----------------------------*/
body {
    background: white;
    color: #69677b;
    font-family: Calibri;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
}

#topsection {
    margin: 5px 0 10px 0;
}

#contentwrapper {
    float: left;
    margin: 5px 0 10px 0;
    width: 100%;
}

#contentcolumn {
    margin: 0;
}

#leftcolumn {
    float: left;
    margin-left: -100%;
    width: 230px;
}

#rightcolumn {
    float: left;
    margin-left: -200px;
    width: 200px;
}

#footer {
    clear: left;
    margin: 10px 0 5px 0;
    padding: 4px 0;
}

.innertube {
    margin: 10px;
    margin-top: 0;
}

    .innertube span {
        margin-left: 5px;
    }

/*------------------------------------Стили для тэгов----------------------------*/

a.standart {
    color: deepskyblue;
    text-decoration: none;
}

    a.standart:hover {
        color: blueviolet;
        text-decoration: underline;
    }

#footer a.standart {
    color: #69677b;
}

b {
    font-weight: lighter;
}

.big {
    color: black;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

/*--------------------------Таблица с вопросом теста-------------------------------------*/

table.test-record {
    border-collapse: collapse;
}

    table.test-record td {
        -ms-border-radius: 12px;
        background: white;
        border: 0 solid lightgrey;
        border-radius: 12px;
        vertical-align: top;
    }

    table.test-record #project {
        -ms-border-radius: 12px;
        background: white;
        border: 0 solid lightgrey;
        border-radius: 12px;
        text-align: left;
    }

    table.test-record #projectLogo {
        display: inline;
    }

    table.test-record #pvsWarning {
        -ms-border-radius: 0 12px 12px 12px;
        background: #f1f5f8;
        border: 1px solid lightgrey;
        border-collapse: separate;
        border-radius: 0 12px 12px 12px;
        border-spacing: 15px;
        color: black;
        font-size: 0.9em;
        height: 100px;
        padding: 7px;
    }

    table.test-record #codeFragment {
        -ms-border-radius: 0 12px 12px 12px;
        background: #f1f5f8;
        border: 1px solid lightgrey;
        border-collapse: separate;
        border-radius: 0 12px 12px 12px;
        border-spacing: 15px;
        color: black;
        display: inline-block;
        font-family: Courier New, monospace !important;
        font-size: 13pt;
    }

    table.test-record #secondsLeft {
        color: red;
        font-size: 1.1em;
        font-weight: bold;
        margin: 65px 0 0 10px;
    }

        table.test-record #secondsLeft .countdown {
            text-decoration: underline;
        }

    table.test-record #explanatoryText {
        -ms-border-radius: 12px;
        background: #f1f5f8;
        border: 1px solid lightgrey;
        border-collapse: separate;
        border-radius: 12px;
        border-spacing: 15px;
        color: black;
        font-size: 0.9em;
        margin: 15px 0 0 0;
        padding: 7px;
    }

    table.test-record #currentQuestionNumber, table.test-record #static-warn-message {
        -ms-border-radius: 0 12px 0 0;
        background: #f1f5f8;
        border: 1px solid lightgrey;
        border-collapse: separate;
        border-radius: 0 12px 0 0;
        border-spacing: 15px;
        color: #69677b;
        display: inline-block;
        font-size: 0.9em;
        padding: 3px 10px 3px 10px;
    }

/*--------------------Таблица со статусом ответа--------------------------------------*/

table.answer-status {
    width: 100%;
}

    table.answer-status td {
        -ms-border-radius: 12px;
        background: white;
        border: 0 solid lightgrey;
        border-radius: 12px;
    }

    table.answer-status #rightAnswer {
        font-size: xx-large;
        margin: 10px 0 7px 0;
    }

#dontKnow, #nextQuestion {
    margin: 10px 0 7px 0;
}

.actionButtons {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    background-color: #d3d3d3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#000000));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #000000);
    background-image: -moz-linear-gradient(top, #d3d3d3, #000000);
    background-image: -ms-linear-gradient(top, #d3d3d3, #000000);
    background-image: -o-linear-gradient(top, #d3d3d3, #000000);
    background-image: linear-gradient(to bottom, #d3d3d3, #000000);
    border: 1px solid #2a2c2f;
    color: #FFFFFF;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d3d3d3, endColorstr=#000000);
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    -ms-text-shadow: -1px -1px 0 #000000;
    -ms-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    text-shadow: -1px -1px 0 #000000;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

    .actionButtons:hover {
        background-color: #000000;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#d3d3d3));
        background-image: -webkit-linear-gradient(top, #000000, #d3d3d3);
        background-image: -moz-linear-gradient(top, #000000, #d3d3d3);
        background-image: -ms-linear-gradient(top, #000000, #d3d3d3);
        background-image: -o-linear-gradient(top, #000000, #d3d3d3);
        background-image: linear-gradient(to bottom, #000000, #d3d3d3);
        border: 1px solid #151617;
        cursor: pointer;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000, endColorstr=#d3d3d3);
    }

/*------------------Текстовое содержимое на начальной и конечной страницах---------------*/

.text-content {
    -ms-border-radius: 12px;
    background: white;
    border: 0 solid lightgrey;
    border-radius: 12px;
    line-height: 1.5em;
}

    .text-content div.center {
        margin: auto;
        padding: 10px;
        text-indent: 20px;
        width: 50%;
    }

        .text-content div.center#found-errors {
            color: red;
            font-size: 1.5em;
        }        

    .text-content pre {
        -ms-border-radius: 12px;
        background: white;
        border: 0 solid lightgrey;
        border-radius: 12px;
        color: black;
        font-family: Lucida Console;
    }

    .text-content span {
        font-size: inherit;
    }

    .text-content div.center ul {
        line-height: 1.1em;
        list-style: none;
        margin: 0 0 0 20px;
        padding: 0 0 0 1em;
        text-indent: -1em;
    }

        .text-content div.center ul li {
            line-height: 1.5em;
            margin: 0 0 0.25em 0;
            padding: .3em 0;
            padding: 0;
        }

            .text-content div.center ul li:before {
                content: "\00BB \0020";
            }

    .text-content p, pre, ul {
        margin: 5px 0 0 15px;
        padding: 5px 3px 0 5px;
    }

    .text-content div.user-level {
        -ms-border-radius: 10px;
        background: gainsboro;
        border: 1px solid lavender;
        border-radius: 10px;
        margin: auto;
        width: 50%;
    }

        .text-content div.user-level .selected {
            -ms-border-radius: 7px;
            background: white;
            border: dotted 3px red;
            border-radius: 7px;
        }

        .text-content div.user-level .not-selected {
            -ms-border-radius: 7px;
            border: dotted 3px white;
            border-radius: 7px;
        }

/* -------------------------Стили подсвеченных фрагментов----------------------------------*/

.highlight-fragment, .right-fragment {
    display: inline-block;
    text-decoration: none;
}

    .highlight-fragment:hover {
        -ms-opacity: 0.7;
        background: aquamarine;
        color: red;
        cursor: pointer;
        font-weight: bolder;
        opacity: 0.7;
    }

/*-----------------------Адаптивный список--------------------------------------------*/

.DynamicColumns {
    margin: 10px;
}

    .DynamicColumns h3 {
        margin: 0;
        text-align: center;
    }

    .DynamicColumns table td {
        padding: 5px;
    }

.AvatarImage {
    height: 90%;
    width: 90%;
}

.ImageDiv {
    float: left;
    margin: 3px;
    width: 100%;
}

/*---------------------------------------------------------------------------------------*/
